/* Apply background image to the sidebar */
.side-bar {
  @include mq(lg) {
    width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.side-bar {
  background-image: url('/assets/images/sidebar-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-header {
  margin-bottom: 20px; /* Adjust this value as needed */
}